dl.stars ol{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
    height: 20px;
    background: url("../img/stars.png");
    position: relative;
}
dl.stars li{
    float: left;
    margin: 0;
    padding: 0;
}
dl.stars li a{
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    position: absolute;
    text-decoration: none;
    z-index: 10;
}
dl.stars li a:hover{
    background: url("../img/stars.png") left center;
    left: 0;
    z-index: 2;
}
dl.stars a.star1{
    left: 0
}

dl.stars a.star1:hover{
    width: 20px;
}

dl.stars a.star2{
    left: 20px;
}

dl.stars a.star2:hover{
    width: 40px;
}

dl.stars a.star3{
    left: 40px;
}
dl.stars a.star3:hover{
    width: 60px;
}
dl.stars a.star4{
    left: 60px;
}
dl.stars a.star4:hover{
    width: 80px;
}
dl.stars a.star5{
    left: 80px;
}
dl.stars a.star5:hover{
    width: 100px;
}
dl.stars li.current {
    background: url("../img/stars.png") left bottom;
    height: 20px;
    z-index: 1;
}
.stars {
    float: right;
}
.left-block{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    display: block;
    background-color: aqua;
    float: left;
}